body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #574b4b;
}

/* .card {
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  margin: 0 0 8px;
  font-size: 1.5rem;
}

.card-content p {
  margin: 0;
  color: #666666;
} */

.inputElements{
  display: flex;
  justify-content: space-between;
}
input {
  width: 200px;
  height: 40px;
  margin: 20px 20px 20px 20px ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

select{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
     margin: 20px 20px 20px 20px ;
    width: 200px;
    height: 40px;
  
  
}

option {
  width: 200px;
  height: 40px;
  align-items: left;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards */
}

.card {
  width: calc(33.33% - 20px); /* 3 cards per row with spacing */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 10px 0;
  color: #666666;
}

.court{
  width:30px;
  height:30px;
  border-radius:50%
}